<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingfengmy.childpuzzle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="qingfengmy.puzzle.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="qingfengmy.puzzle.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="qingfengmy.puzzle.GalleryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="qingfengmy.puzzle.GameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="qingfengmy.puzzle.InstructionsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="qingfengmy.puzzle.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="qingfengmy.puzzle.BackGroundActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5428d077fd98c5aafc018ef2" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="360" />

       <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <provider
            android:name="net.youmi.android.spot.SpotAdContentProvider"
            android:authorities="com.qingfengmy.childpuzzle" />

        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="10190" >
        </meta-data>

    </application>

</manifest>
